body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

/* LEFT SECTION – LOGIN SIDE */
.left-section {
    width: 50%;
    background: #531212f5;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.6s ease-in-out;
}

/* RIGHT SECTION – LOGO SIDE */
.right-section {
    width: 50%;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.6s ease-in-out;
}

.right-section img {
    width: 70%;
    height: auto;
}

/* LOGIN BOX */
.login-box {
    background: white;
    padding: 35px;
    width: 70%;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

/* INPUTS */
select, input {
    width: 100%;
    padding: 12px;
    margin-top: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

button {
    width: 100%;
    padding: 12px;
    background: #531212f5;
    color: white;
    border-radius: 8px;
    border: none;
    margin-top: 15px;
    cursor: pointer;
}

/* LINKS */
a {
    display: block;
    margin-top: 10px;
    color: #531212f5;
    font-size: 14px;
}

/* SWAP ANIMATION */
.left-shift {
    transform: translateX(120px);
}
.right-shift {
    transform: translateX(-120px);
}
