/* MAIN LAYOUT */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f5f5f5;
}

/* SIDEBAR */
.sidebar {
    width: 250px;
    height: 100vh;
    background: #531212f5;
    color: white;
    padding-top: 30px;
    position: fixed;
    left: 0;
    top: 0;
}

.sidebar h2 {
    text-align: center;
    margin-bottom: 25px;
    font-size: 22px;
}

.sidebar a {
    display: block;
    padding: 14px 25px;
    color: white;
    font-size: 16px;
    text-decoration: none;
}

.sidebar a:hover, .sidebar a.active {
    background: white;
    color: #531212f5;
}

/* MAIN CONTENT */
.main {
    margin-left: 250px;
    padding: 25px;
}

/* TOP BAR */
.topbar {
    background: white;
    padding: 15px;
    border-radius: 10px;
    font-size: 20px;
    margin-bottom: 20px;
    box-shadow: 0 5px 12px rgba(0,0,0,0.1);
}

/* DASHBOARD CARDS */
.cards {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
}

.card {
    background: white;
    width: 250px;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 5px 12px rgba(0,0,0,0.15);
    text-align: center;
}

.card h3 {
    color: #531212f5;
}

.card p {
    font-size: 24px;
    font-weight: bold;
    color: black;
}

/* TABLE DESIGN */
.table-card {
    background: white;
    padding: 25px;
    margin-top: 25px;
    border-radius: 15px;
    box-shadow: 0 5px 12px rgba(0,0,0,0.15);
}

.table-card h2 {
    color: #531212f5;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th {
    background: #531212f5;
    color: white;
    padding: 12px;
    font-size: 16px;
}

table td {
    padding: 10px;
    background: #fafafa;
    border-bottom: 1px solid #ddd;
}

table tr:hover td {
    background: #f1e1e1;
}
