<div class="content-box">
    <h2>Enter Marks</h2>

    <div class="form-row">
        <label>Select Student</label>
        <select id="marksStudent"></select>

        <label>Course</label>
        <select id="marksCourse"></select>

        <label>Marks</label>
        <input id="marksValue" class="input" type="number" min="0" max="100">

        <button class="add-btn" onclick="saveMarks()">Submit</button>
    </div>

    <h3>Saved Marks</h3>

    <table class="styled-table">
        <thead>
            <tr>
                <th>Student ID</th>
                <th>Name</th>
                <th>Course</th>
                <th>Marks</th>
            </tr>
        </thead>
        <tbody id="marksTable"></tbody>
    </table>
</div>

<script>
    setTimeout(() => loadMarksUI(), 50);
</script>
